.colour_alt_box .colour_name {
    font-family: var(--title-font);
    font-size: 100px;

    text-anchor: middle;
}

.colour_alt {
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
}

#alt_bg {
    fill: var(--shadow-bg-color);
}

#alt_bg .colour_alt {
    background-color: var(--other-bg-color);
    border: 2px solid var(--other-bg-color);
}

#alt_title {
    fill: var(--other-title-color);
}

#alt_title .colour_alt {
    background-color: var(--other-title-color);
    border: 2px solid var(--other-title-color);
}

#alt_text {
    fill: var(--other-text-color);
}

#alt_text .colour_alt {
    background-color: var(--other-text-color);
    border: 2px solid var(--other-text-color);
}