.colour_alt_background {
    height: 7vw;
    width: 7vw;
    

    background-color: var(--other-bg-color);
    border: 2px solid var(--other-bg-color);
    border-radius: 50%;
}

.colour_alt_title {
    height: 7vw;
    width: 7vw;


    background-color: var(--other-title-color);
    border: 2px solid var(--other-title-color);
    border-radius: 50%;
}

.colour_alt_text {
    height: 7vw;
    width: 7vw;

    background-color: var(--other-text-color);
    border: 2px solid var(--other-text-color);
    border-radius: 50%;
}