:root {
    /* main colours */
    --main-bg-color: #F1E7E5;
    --main-title-color: #C38783;
    --main-text-color: #906D64;    

    /* shadows */
    --shadow-bg-color: #BCA59F;
    --title-shadow: 2px 2px 1px #904f4a;
    --shadow-title-color: #904f4a;
    --shadow-text-color: #4f362f;

    /* alternative colours */
    --other-bg-color: #f9f9f9;
    --other-title-color: #9EA476;
    --other-text-color:#F5DAAF;

    /* fonts */
    --main-font: "EB Garamond", serif;
    --title-font: "Gochi Hand", serif;
}

html {
    background-color: var(--main-bg-color);
    height: 100vh;
    align-content: center;
}

.colours {
    display: flex;
    margin: auto auto;
    width: 60%;

    margin-bottom: 2vh;
}

.colour_box {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto auto;
    writing-mode: vertical-rl;

    cursor: pointer;
    transition: all 0.5s ease;
}

.colour_alt_box {
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto auto;

    cursor: pointer;
    transition: all 0.3s ease;

    transform: translateX(-1vw);
}

.shadow_box {
    opacity: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto auto;

    cursor: pointer;
    transition: all 0.3s ease;

    transform: translateX(-1vw);
}