:root {
    /* main colours */
    --main-bg-color: #F1E7E5;
    --main-title-color: #C38783;
    --main-text-color: #906D64;    

    /* shadows */
    --bg-shadow-color: #BCA59F;
    --title-shadow: 2px 2px 1px #904f4a;
    --title-shadow-color: #904f4a;
    --text-shadow-color: #4f362f;

    /* alternative colours */
    --bg-other-color: #f9f9f9;
    --title-other-color: #9EA476;
    --text-other-color:#F5DAAF;

    /* fonts */
    --main-font: "EB Garamond", serif;
    --title-font: "Gochi Hand", serif;
}

html {
    background-color: var(--main-bg-color);
    height: 100vh;
    align-content: center;
}

.colours {

    display: flex;
    margin: auto auto;
    width: 60%;

}

.colour {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto auto;
    writing-mode: vertical-rl;

}

.colour_name {
    
    font-size: 2.5vw;
    font-family: var(--title-font);
    color: var(--main-title-color);
    
    text-align: center;
    margin-bottom: 5px;

}

.colour_background {
    height: 10vw;
    width: 10vw;

    background-color: var(--main-bg-color);
    border: 2px dashed var(--main-text-color);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.colour_title {
    height: 10vw;
    width: 10vw;


    background-color: var(--main-title-color);
    border: 2px solid var(--main-title-color);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.colour_text {
    height: 10vw;
    width: 10vw;

    background-color: var(--main-text-color);
    border: 2px solid var(--main-text-color);
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
}